.App {
  background-color: rgb(51, 55, 64);
  height: auto;
}

body {
  background-color: rgb(51, 55, 64);
  width: auto;
}

.nav-header {
  background-color: rgb(67, 67, 67);
  justify-content: flex-end;
  padding-left: 400px;
}

.nav-header-name {
  color: cornsilk;
  font-size: medium;
}
